// Widths
$wrapperWidth: 1360px;
$mobileWidth: 640px;

// Media Query Breakpoints
$desktop: "all and (min-width: #{($wrapperWidth + 20)}px)";
$tablet: "all and (min-width: #{($mobileWidth + 1)}px) and (max-width: #{($wrapperWidth + 19)}px)";
$mobile: "all and (max-width: #{$mobileWidth}px)";

$primaryColour: #2f353f;
$secondaryColour: #4ed2b5;
$tertiaryColour: #e85d75;
$successColour: #3f8828;
$informationColour: #f1c40f;
$warningColour: #f0ae49;
$errorColour: #e74c3c;

:root {
    // Widths
    --wrapperWidth: #{$wrapperWidth};
    --mobileWidth: #{$mobileWidth};

    --baseLetterSpacing: normal;
    --baseFontSize: 16;

    // Fonts
    --primaryFont: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --bodyFont: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    // Borders
    --borderRadius: 5px;
    --borderColour: #2f353f;

    // Brand colours
    --primaryColour: #{$primaryColour};
    --secondaryColour: #{$secondaryColour};
    --tertiaryColour: #{$tertiaryColour};
    --successColour: #{$successColour};
    --informationColour: #{$informationColour};
    --warningColour: #{$warningColour};
    --errorColour: #{$errorColour};

    // Typography
    --textColour: #2f353f;
    --subTextColour: #7a7e84;
    --disabledColour: #acaeb2;
    --lightTextColour: #ffffff;
}

.dark-mode {
    // Typography
    --textColour: #ffffff;
    --subTextColour: #7a7e84;
    --disabledColour: #acaeb2;
    --lightTextColour: #000;

    // Layers
    --layerDarkColour: #ffffff;
    --layerAccentColour: #21201f;
    --layerLightColour: #0a0a08;
    --layerWhiteColour: #000000;
    --layerOverlayColour: rgba(0, 0, 0, 0.4);
    --darkSectionBgColour: #3f444a;
}

body {
    font-family: var(--font-geist-sans), sans-serif;
}
